# gitops/clusters/klab/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - apps
  - platform

# Default patches for ALL Argo CD Applications
patches:
  - target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
    patch: |-
      - op: add
        path: /spec/destination/server
        value: https://kubernetes.default.svc
      - op: add
        path: /spec/syncPolicy
        value:
          automated: { prune: true, selfHeal: true }
      - op: add
        path: /spec/syncPolicy/syncOptions
        value:
          - CreateNamespace=true
          - ServerSideApply=true
          - SkipDryRunOnMissingResource=true
          - PruneLast=true
          - ApplyOutOfSyncOnly=true
