apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: adguard-image-puller
  namespace: adguard
  labels:
    app.kubernetes.io/name: adguard-image-puller
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: adguard-image-puller
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: adguard-image-puller
    spec:
      dnsPolicy: ClusterFirst
      containers:
        - name: image-puller
          image: adguard/adguardhome:latest
          imagePullPolicy: Always
          command: ['/bin/sh', '-c']
          args:
            - |
              # Just sleep forever; the image is now cached on this node
              sleep infinity
          resources:
            requests:
              cpu: 10m
              memory: 10Mi
            limits:
              cpu: 10m
              memory: 10Mi
      terminationGracePeriodSeconds: 1
      tolerations:
        # Run on all nodes, including control plane
        - operator: Exists
