apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: longhorn-adguard-wffc
provisioner: driver.longhorn.io
allowVolumeExpansion: true
reclaimPolicy: Retain
volumeBindingMode: WaitForFirstConsumer
parameters:
  recurringJobSelector: '[{"name":"daily-backup","isGroup":false}]'
