apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: apps
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: '-100'
spec:
  description: Workload applications (runners, buildkit, tfc)
  destinations:
    - server: https://kubernetes.default.svc
      namespace: '*'
  sourceRepos:
    - https://github.com/greg-court/homelab.git
    - ghcr.io/actions/actions-runner-controller-charts
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'
  syncPolicy:
    automated: { prune: true, selfHeal: true }
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - SkipDryRunOnMissingResource=true
      - PruneLast=true
      - ApplyOutOfSyncOnly=true
