apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: local-path-provisioner
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: '-10'
spec:
  project: platform
  destination:
    namespace: local-path-storage
  source:
    repoURL: https://github.com/rancher/local-path-provisioner
    targetRevision: v0.0.32
    path: deploy
    kustomize:
      patchesJson6902:
        - target:
            version: v1
            kind: ConfigMap
            name: local-path-config
            namespace: local-path-storage
          patch: |-
            - op: replace
              path: /data/config.json
              value: |
                {
                  "nodePathMap": [
                    {
                      "node": "DEFAULT_PATH_FOR_NON_LISTED_NODES",
                      "paths": ["/opt/local-path-provisioner"]
                    }
                  ]
                }
