apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: local-path-provisioner
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: '-10'
spec:
  project: platform
  destination:
    server: https://kubernetes.default.svc
    namespace: local-path-storage
  source:
    repoURL: https://github.com/rancher/local-path-provisioner
    targetRevision: v0.0.32
    path: deploy
    kustomize:
      patches:
        - target:
            version: v1
            kind: ConfigMap
            name: local-path-config
            namespace: local-path-storage
          patch: |
            apiVersion: v1
            kind: ConfigMap
            metadata:
              name: local-path-config
              namespace: local-path-storage
            data:
              config.json: |
                {
                  "nodePathMap": [
                    {
                      "node": "DEFAULT_PATH_FOR_NON_LISTED_NODES",
                      "paths": ["/opt/local-path-provisioner"]
                    }
                  ]
                }
  syncPolicy:
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: 'privileged'
        pod-security.kubernetes.io/audit: 'baseline'
        pod-security.kubernetes.io/warn: 'baseline'
    automated: { prune: true, selfHeal: true }
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - SkipDryRunOnMissingResource=true
      - PruneLast=true
      - ApplyOutOfSyncOnly=true
