apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: loki
  namespace: monitoring
spec:
  namespaceSelector:
    matchNames: ['monitoring']
  selector:
    matchLabels:
      app.kubernetes.io/name: loki
      app.kubernetes.io/component: single-binary
  endpoints:
    - port: http-metrics
      path: /metrics
      interval: 30s
